* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}

li {
  display: inline-block;
  
}



.center {
    display:flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 4%;
    width: 100%;
  
}

header {
    padding: 10px 0;
    background-color: rgb(221, 221, 221);
}

.logo {
    width: 50%;
    max-width: 300px;
    min-width: 100px;
    margin-left: 5px;
    padding-top: 10px;
}

.menu {
    width: 100%;
    text-align: right;
    margin-top: 40px;
    margin-right: 30px;
    flex-wrap: nowrap;
    
}

.menu a {
    color: rgb(163, 73, 13);
    text-decoration: none;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.menu a:hover {
    text-decoration: underline;
}

.menu a:not(.notbarra) {
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 7px;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-right: 30px;
    justify-content: center;
    flex-wrap: nowrap;
}

.centro {
    margin-left: 40%;
 margin-right: 10px;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
}

.banner {
    width: 1920px;
    height: 300px

}